<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="code" value="112233" /><!--<安全码设置>-->
   <!--<会员电脑端地址设置>--> <add key="hyurl" value="" />
   <!--<会员手机端地址设置>--> <add key="mhyurl" value="" />
   <!--<代理地址设置>--> <add key="dlurl" value="" />
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="1048576" />
      </requestFiltering>
    </security>
  </system.webServer>
  <system.web>
    <customErrors mode="Off" />
    <httpRuntime maxRequestLength="102400" executionTimeout="60" />
    <compilation />
    <!--<sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" cookieless="false" timeout="900"/>-->
    <!--
            通过 <authentication> 节可以配置
            安全身份验证模式，ASP.NET 
            使用该模式来识别来访用户身份。 
        -->
    <authentication mode="Windows" />
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节
            可以配置相应的处理步骤。具体而言，
            开发人员通过该节可配置要显示的 html 错误页，
            以代替错误堆栈跟踪。
  -->
  </system.web>
  <system.net>
    <settings>
      <servicePointManager checkCertificateName="false" checkCertificateRevocationList="false" />
    </settings>
  </system.net>
</configuration>
<!--ProjectGuid: FA689EFD-EF59-455E-9F52-CDC3C9F52903-->